@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    /* text-shadow: 1px 1px rgb(63 162 162); */
}

#rules{
    padding: 1rem;
    width: 50%;
    margin: auto;
    
}
 .head {
    text-align: center;
    margin: 1rem auto;
    font-size: 3rem;
 }

 #text {
     color: white;
    background-color: black;
    
 }
 textarea{
    /* margin: auto;

    width: 100%;
    font-size: 1rem; */
    border:1px solid black;
}
label{
    display: flex;
    flex-direction: column;
    align-items: center;
}
 #btn-translate {
     display: block;
     margin: 1rem auto;
     cursor: pointer;
     color: white;
     background-color: #000000;

 }

 #btn-translate:hover {
    background-color: #292925;
 }

#hero{
    width: 50%;
    margin: auto;
}
 .container {
     margin: auto;
     padding: 2rem;
 

     /* margin: 3rem auto; */
     /* background-image: url(/images/encrypt.jpg); */
     /* width: 50vw;
    
     background-size: 100% 100%;


    align-content: space-around;
    display: flex; */
    /* justify-items: center; */
    /* flex-direction: column;
    justify-content: center;
    align-content: space-around;
    flex-wrap: wrap; */

 }
 .img-guide{
     display: block;
     margin: auto;
     
 }
 .disp-center{
   text-align: center;
    display: block;
    margin-top: 2rem;
 }
 .small-text{
    font-size: 1rem;
    color: #000000;
    font-weight: bold;
    text-shadow: 1px 1px 8px grey;
 }
 hr{
     display: block;
     margin: auto;
    width: 80%;
 }

 footer{
    /* background-color: #faf6e2;  */
    text-align: center;
       
    text-align: center;
    /* width: 80%; */
    margin: auto;
}
 

